.Dialog {
  padding: 40px;
}

.FormDialog {
  padding: 60px;
  width: 18rem;
}

.center {
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;

  margin-top: 30px;

  .left {
    flex: 1 1 auto;
    margin-right: 1rem;
  }

  .right {
    flex: 1 1 auto;
  }
}
