<html>
  <head>
    <link href="/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Exo+2|Julius+Sans+One|Maven+Pro|Rajdhani" rel="stylesheet">

    <link href="libs/themify-icons.css" rel="stylesheet">
  </head>
  <body class="ad body">
    <div class="ad screen computer" ng-app="demo" ng-controller="demoCtrl">
      <div class="ad splash" ng-show="state === 'splash'" ng-click="hideSplash()">
        <div class="ad spinner"></div>
        <!-- <img class="ad spinner" src="img/loader.gif" ng-class="{'animate-start': startAnimate}" /> -->
      </div>

      <div class="ad workspace">
        <div class="ad login" ng-show="state === 'login'" ng-keyup="keyUp($event)" >
          <div class="ad input fluid follow parent" >
            <input type="password" ng-model="password" tabindex="0" name="fdsfdsfd" placeholder="{{passwordPlaceholder}}" autocomplete="off" ng-keydown="keyDown($event)"/>
            <button class="ti-angle-right" ng-click="onClickInput($event)"></button>
          </div>
        </div>
      </div>
    </div>


    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>

    <script>
      angular
      .module('demo', ['ngAnimate'])
      .controller('demoCtrl', function ($scope, $timeout) {


        $scope.state = 'splash';

        $scope.password = '';
        $scope.passwordPlaceholder = '';

        // $scope.animate = function () {
        //   $timeout(function () {
        //     $scope.startAnimate = false;
        //   }, 1);
        // };

        // $scope.animate();

        // $timeout(() => {
        //   $scope.state = 'login'
        // }, 1000);
        //
        // $timeout(() => {
        //   $scope.state = ''
        // }, 10000);

        $scope.hideSplash = function () {
          console.log('hide');
          $scope.state = '';
          $timeout(() => {
            $scope.state = 'login'
          }, 200)
        }

        $scope.cancelLogin = function () {
          $scope.passwordPlaceholder = '';
          $scope.password = '';

          $scope.state = '';

          $timeout(function () {
            $scope.state = 'splash';
          }, 500);
        };

        $scope.login = function () {
          $scope.state = '';
        };

        $scope.onClickInput = function ($event) {
          $scope.login();
          $event.stopPropagation();
          $event.preventDefault();
          return false;

        };

        // $scope.keyUp = function (event) {
        //   if (event.which === 27 /* escape */ ) {
        //     $scope.cancelLogin();
        //   }
        // };

        $scope.keyDown = function (event) {
          if (event.which === 27 /* escape */ ) {
            $scope.cancelLogin();
          } else if (event.which === 13) {
            $scope.login();
          }
        }

        $timeout(function () {
          var elements = document.getElementsByClassName('animate-start');
          console.log(elements);
          for (var i = 0 ; i < elements.length ; i++) {
            var element = elements[i];
            element.className = element.className.replace('animate-start', '');
          }
        }, 100);
      });

    </script>
  </body>
</html>
