
/* animations */
$defaultDuration: 0.2s;
$longDuration: 0.4s;
$veryLongDuration: 10s;

$defaultFunction: linear;

/* colors */
$primary: black;
$background: white;

$spinnerImg: url('');

/* positioning and layout */
$sqrt2: 1.414213562;
$formMargin: 10px;
$maxChildren: 200;

// import globals functions and constants
@import "./globals";

// import animations functions
@import "./animation";

@import "./themes/dark-side";

// font-family: 'Rajdhani', sans-serif;
// font-family: 'Maven Pro', sans-serif;
// font-family: 'Exo 2', sans-serif;
// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Cutive Mono', monospace;

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  @include font;
}

.ad.body {

  background: $background;

  @import "./platforms/computer";

  // &.dark-side {
  // }

  // &.awakening {
  //   @import "./themes/awakening.less";
  // }

  @include font;

  .ad.screen {
    color: $primary;
  }

  // @import './widgets/form';
  // @import './widgets/splash';
  // @import './widgets/card';
  // @import './widgets/segment';
  @import './widgets/button';
  @import './widgets/titles';
  @import './widgets/radio';
  @import './widgets/switch';
  @import './widgets/checkbox';
  @import './widgets/input';
  @import './widgets/textarea';
  @import './widgets/progressbar';
  @import './widgets/stepbar';
  @import './widgets/icon';
  @import './widgets/eyecatcher';
  @import './widgets/tooltip';
  @import './widgets/target';
  @import './widgets/carrousel';
}
