.ad.card {


  padding: 6px 15px;
  border: 1px solid @primary;
  border-radius: 2px;
  .font;
  font-weight: 500;

  min-width: 200px;
  text-align: center;

  // @padding: 25px;
  // @borderWidth: 1px;
  //
  // @paddingTop: 10px;
  // @paddingBottom
  //
  // @background: transparent;
  // @borderColor: @primary;
  //
  // width: 200px;
  //
  //
  // // background: red;
  // //
  // // border: 1px solid transparent;
  // &.primary {
  //   // border-color: @primary;
  // }
  //
  // .ad.content {
  //   border: 0px solid @borderColor;
  //   border-width: 0px @borderWidth;
  //   padding: 0px @padding;
  //   .font;
  //   font-weight: 500;
  // }
  //
  // .ad.banner {
  //   display: flex;
  //   align-items: stretch;
  //   justify-content: flex-start;
  //
  //   .ad.border {
  //     flex: 1;
  //   }
  //
  //   .ad.corner {
  //     flex: 0 0 @paddingVertical;
  //     width: @paddingVertical;
  //     height: @paddingVertical;
  //     position: relative;
  //
  //     .ad.insider {
  //       position: absolute;
  //       top: 0;
  //       right: 0;
  //       width: 1000px;
  //       border-top: @borderWidth solid @borderColor;
  //       -webkit-transform: rotate(-45deg);
  //         transform: rotate(-45deg);
  //         -webkit-transform-origin: 100% 100%;
  //         transform-origin: 100% 100%;
  //     }
  //   }
  //
  //   &.top {
  //     .ad.border {
  //       border-top: @borderWidth solid @borderColor;
  //       border-right: @borderWidth solid @borderColor;
  //       padding-bottom: @paddingVertical;
  //     }
  //
  //     .ad.corner {
  //       overflow: hidden;
  //     }
  //   }
  //   .ad.top {
  //
  //   }
  // }
}
