.ad.checkbox {
  @include font;
  cursor: pointer;
  display: inline-block;

  .ad.checkboxIcon {
    display: inline-block;
    color: $foreground;
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 5px;
  }

  .ad.option {
    display: inline-block;
    color: $foreground;
    // font-size: 1.2em;
    font-size: 0.95em;
    vertical-align: middle;
    text-transform: uppercase;
    @include fontBold;
  }

  &:not(.fluid) {
    &:not(:last-child) {
      margin-right: $formMargin * 2;
    }
  }


  &.fluid {
    display: block;
    // width: 100%;

    &:not(:last-child) {
      margin-bottom: $formMargin * 2;
    }
  }
}
