.ad.progressbar {

  padding: 10px 0px;

  .ad.label {
    color: $foreground_hue2;
    background: transparent;
    text-align: center;
    @include font;
    font-size: 0.9em;
    padding-bottom: 7px;
  }

  .ad.progressbarBar {
    display: block;
    height: 2px;
    background-color: $foreground_hue2;
    position: relative;
  }

  .ad.progressbarProgression {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: $foreground;
    @include transition(width linear $defaultDuration);
  }
}
