.ad.splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background;
  z-index: 1000;

  $spinnerWidth: 400px;

  .ad.spinner {
    width: @spinnerWidth;
    height: @spinnerWidth;
    background-image: @spinnerImg;
    background-position: center center;
    background-size: contain;
  }

  & when (@animate = true) {
    .transition(opacity, @longDuration);

    .ad-spinner {
      @properties: height, width;
      .transition(@properties, @longDuration);
    }

    &.ng-hide {
      opacity: 0;

      .ad.spinner {
        width: 0px;
        height: 0px;
      }

    }

    &.ng-hide-add, &.ng-hide-remove {
      //
    }
  }
}
