.ad.target {
  $width: 150px;
  width: $width;
  height: $width;
  display: inline-block;
  position: relative;

  @mixin circle ($margin, $borderWidth, $color : $foreground) {
    position: absolute;
    top: $margin;
    left: $margin;
    bottom: $margin;
    right: $margin;
    border-radius: 999em;
    border: $borderWidth solid $color;
    $properties:
      top $defaultFunction $defaultDuration,
      left $defaultFunction $defaultDuration,
      right $defaultFunction $defaultDuration,
      bottom $defaultFunction $defaultDuration,
      width $defaultFunction $defaultDuration;
    @include transition($properties);
  }

  .ad.targetCircle {
    // $margin: 50px;
    @include circle(20px, 1px);
    cursor: pointer;
    // transition-delay: 3 * $defaultDuration;

  }

  .ad.targetCircleSmall {
    @include circle(3px, 2px, $foreground_hue1);
    // transition-delay: 2 * $defaultDuration;
  }

  .ad.targetBar {
    height: 2px;
    background: $foreground_hue1;
    position: absolute;
    top: 50%;
    left: 130px;
    width: 50px;
    $properties:
      top $defaultFunction $defaultDuration,
      left $defaultFunction $defaultDuration,
      right $defaultFunction $defaultDuration,
      bottom $defaultFunction $defaultDuration,
      width $defaultFunction $defaultDuration;
    @include transition($properties);
    // transition-delay: $defaultDuration;

  }

  .ad.targetMore {
    position: absolute;
    // top: 45%;
    top: 50%;
    left: 180px;
    // width: 0px;
    // height: 0px;
    background: $foreground;
    width: 200px;
    height: 100px;
    margin-top: -50px;
    overflow: hidden;
    // height: 0px;
    $properties:
      top $defaultFunction $defaultDuration,
      left $defaultFunction $defaultDuration,
      right $defaultFunction $defaultDuration,
      bottom $defaultFunction $defaultDuration,
      max-height $defaultFunction $defaultDuration,
      width $defaultFunction $defaultDuration;
    @include transition($properties);
    // transition-delay: 0;

    .ad.targetMoreContent {
      padding: 4px 10px;
      text-align: justify;
      color: $background;
      opacity: 1;
    }
  }

  .ad.targetInfo {
    position: absolute;
    $margin: 3px;
    $borderWidth: 10px;
    top: $margin;
    left: $margin;
    width: 50%;
    height: 50%;


    border-top-left-radius: 999em;
    border-top: $borderWidth solid $foreground;
    border-left: $borderWidth solid $foreground;
  }


  &.grow {


    &.progressIn {
      .ad.targetCircle {
        transition-delay: 0;

        .ad.targetCircleSmall {
          transition-delay: $defaultDuration;
        }
      }

      .ad.targetBar {
        transition-delay: 2 * $defaultDuration;
      }

      .ad.targetMore {
        transition-delay: 3 * $defaultDuration;

        .ad.targetMoreContent {
          transition-delay: 4 * $defaultDuration;

        }
      }


    }

    &.progressOut {
      .ad.targetCircle {
        transition-delay: 4 * $defaultDuration;

        .ad.targetCircleSmall {
          transition-delay: 3 * $defaultDuration;
        }
      }

      .ad.targetBar {
        transition-delay: 2 * $defaultDuration;
      }

      .ad.targetMore {
        transition-delay: $defaultDuration;

        .ad.targetMoreContent {
          transition-delay: 0s;
        }
      }
    }

    &.hide {
      .ad.targetCircle {
        top: 50px;
        bottom: 50px;
        right: 50px;
        left: 50px;

        .ad.targetCircleSmall {
          top: 0px;
          bottom: 0px;
          right: 0px;
          left: 0px;
          border-width: 0px;
        }
      }
      .ad.targetBar {
          width: 0px;
      }

      .ad.targetMore {
        width: 0px;

        .ad.targetMoreContent {
          opacity: 0;
        }
      }
    }
  }



}
