.ad.tooltip {
  text-align: center;
  height: 150px;
  width: 100px;
  // margin: auto;
  // display: inline-block;
  position: relative;
  // position: absolute;
  // display: block;
  // width: 100px;
  // margin: auto;
  margin: auto;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

  // .ad.tooltipContent {
  //   position: absolute;
  //   bottom: 0;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: flex-end;
  // }

  // overflow: hidden;

  .ad.tooltipBar {
    // display: block;
    // margin: auto;
    height: 100px;
    flex: 0 0 auto;
    width: 2px;
    background: $foreground_hue1;
    $properties: width $defaultFunction $defaultDuration, height $defaultFunction $defaultDuration;
    @include transition($properties);
  }

  .ad.tooltipLabel {
    box-sizing: border-box;
    // display: inline-block;
    background: $foreground;
    overflow: hidden;
    flex: 0 0 auto;
    width: 100px;
    // border: 1px solid $foreground_hue1;

    // min-width: 100px;
    $properties: width $defaultFunction $defaultDuration, height $defaultFunction $defaultDuration, border-color $defaultFunction $defaultDuration;
    @include transition($properties);

    .ad.tooltipLabelContent {
      padding: 4px 6px;
      @include font;
      font-size: 0.9em;
      color: $background;
      opacity: 1;
      @include transition(opacity $defaultFunction $defaultDuration);
    }
  }

  .ad.tooltipSocle {
    // display: block;
    $width: 6px;
    flex: 0 0 auto;
    width: $width;
    height: $width;
    // margin: auto;
    background-color: $foreground_hue2;
    @include transform(rotate(45deg));
    position: relative;
    top: -$width/$sqrt2 + 2;
    $properties: width $defaultFunction $defaultDuration, height $defaultFunction $defaultDuration;
    @include transition($properties);
  }


  &.grow {
    &.progressIn {
      .ad.tooltipSocle {
        transition-delay: 0s;
      }

      .ad.tooltipBar {
        transition-delay: $defaultDuration;
      }

      .ad.tooltipLabel {
        transition-delay: 2 * $defaultDuration;
      }

      .ad.tooltipLabelContent {
        transition-delay: 3 * $defaultDuration;
      }
    }

    &.progressOut {
      .ad.tooltipSocle {
        transition-delay: 3 * $defaultDuration;
      }

      .ad.tooltipBar {
        transition-delay: 2 * $defaultDuration;
      }

      .ad.tooltipLabel {
        transition-delay: $defaultDuration;
      }

      .ad.tooltipLabelContent {
        transition-delay: 0s;
      }
    }

    &.hide {

      // display: none;

      .ad.tooltipSocle {
        height: 0px;
        width: 0px;
      }

      .ad.tooltipBar {
        height: 0px;
      }

      .ad.tooltipLabel {
        // height: 0px;
        width: 0px;
        border-color: transparent;
        .ad.tooltipLabelContent {
          opacity: 0;
        }
      }


    }
  }

}
