/* smartphone, tablet, laptop, desktop */

$spinnerImg: url('../img/loader.gif');

.ad.screen.computer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  overflow: auto;

  background: $backgroundImg;
  background-position: center center;
  background-repeat: repeat;


  .ad.workspace {
    position: relative;
    min-height: 100%;
    width: 100%;





    // background: white;
  }

  // .ad.host {
  //   position: fixed;
  //   right: 10px;
  //   bottom: 10px;
  // }
  //
  // .ad.version {
  //   position: fixed;
  //   left: 10px;
  //   bottom: 10px;
  // }

}
