.Ad_Form {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  width: 200px;
}

$marginBottom: 1rem;

.Ad_Input {
  width: 100%;
  display: flex;

  border: 1px solid blue;

  margin-bottom: $marginBottom;
}

.Ad_Input_input {
  flex: 1 1 auto;
  outline: none;
  border: 0;
  padding: 0.5rem;
}

.Ad_Input_ToggleVisibityButton {
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.Ad_Button {
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  min-height: 100vh;
}

.signin {
  min-width: 350px;
  padding: 40px;
}

.forgotPassword {
  text-align: center;
  padding-top: 30px;
}
